.navbar {
  border-bottom: #008ed5 3px solid;
  opacity: 0.8;
}

.login{
	background: url("img/login.jpeg") no-repeat;
	padding-top: 15%;
	background-size: cover;
	background-attachment: fixed;
}

.register{
	background: url("img/login.jpeg") no-repeat;
	padding-top: 10%;
	background-size: cover;
	background-attachment: fixed;
}

#lema{
	font-size: 300%;
}
#lema-blanco{
	color: #fff;
	font-size: 300%;
}

.inicio{
	background: url("img/city.jpeg") no-repeat;
	padding-top: 20%;
	min-height: 720px;
	background-size: cover;
	background-attachment: fixed;
}

.reservaciones{
	background: url("img/city.jpeg") no-repeat;
	padding-top: 100px;
	min-height: 720px;
	background-size: cover;
	background-attachment: fixed;
}

.card-header{
  color: grey;
}

.row-space{
	margin: 1%;
}

#mesa{
  opacity: 0.1;
  background-color:blue;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;

  text-align: center;
}
