.navbar {
  border-bottom: #008ed5 3px solid;
  opacity: 0.8;
}

.login{
	background: url("img/login.jpeg") no-repeat;
	padding-top: 125px;
	min-height: 614px;
	background-size: cover;
	background-attachment: fixed;
}

#lema{
	font-size: 300%;
}
#lema-blanco{
	color: #fff;
	font-size: 300%;
}

.inicio{
	background: url("img/city.jpeg") no-repeat;
	padding-top: 90px;
	min-height: 614px;
	background-size: cover;
	background-attachment: fixed;
}
.card-header{
  color: grey;
}

.row-space{
	margin: 1%;
}

#mesa{
  opacity: 0.1;
  background-color:blue;
}
