.navbar {
  border-bottom: #008ed5 3px solid;
  opacity: 0.8; 
}

.login{
	background: url("img/login.jpeg") no-repeat;
	padding-top: 125px;	
	min-height: 700px;
	background-size: cover;
	background-attachment: fixed; 
}

#lema{
	font-size: 300%;
}
#lema-blanco{
	color: #fff;
	font-size: 300%;
}


.inicio{
	background: url("img/home.jpeg") no-repeat;
	padding-top: 125px;	
	min-height: 700px;
	background-size: cover;
	background-attachment: fixed; 
}
#reserv{
	padding: 4%;
}

.row-space{
	margin: 1%;
}